.card {
    width: 500px;
}
footer {
    font-size: 15px;
}
input[type=file] {
    padding: 16px;
}
.error-text, .alert-success {
    display: none;
}
.profile-image {
    width: 40%;
}
.myBoutton {
    background-color: blueviolet;
}
.container {
    height: 900px;
}